body{
    background-color: black;

}

.container{
    background-color: #ecf0f3;
    width: 250px;
    height: 350px;
    text-align: center;
    justify-content: center;
    margin-left: 370px;
    margin-top: 100px;
    border-radius: 30px;

}


input{
    background-color: #ecf0f3;
    width: 185px;
     line-height: 40px;
     border-width: 5px;
     border-style: solid;
     margin-top: 30px;
     margin-bottom: 30px;
     text-align: right;
     font-size: 20px
}


#digit{
    width: 35px;
    box-shadow: inset -5px -5px 120px rgb(192, 191, 190);
    border-radius: 45%;
    line-height: 40px;
    cursor: pointer;
    margin: 2px;
}